@font-face {
  font-family: 'Bickham';
  src: url('../src/fonts/Bickham.ttf')
    /* Add additional src declarations for other font formats if needed */
}

@font-face {
  font-family: 'Cormorant Regular';
  src: url('../src/fonts/CormorantGaramond-Regular.ttf')
    /* Add additional src declarations for other font formats if needed */
}

@font-face {
  font-family: 'Cormorant Bold';
  src: url('../src/fonts/CormorantGaramond-Bold.ttf')
    /* Add additional src declarations for other font formats if needed */
}

@font-face {
  font-family: 'Cormorant Semi-Bold';
  src: url('../src/fonts/CormorantGaramond-SemiBold.ttf')
    /* Add additional src declarations for other font formats if needed */
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: url("../src/img/white-grey-scratone.png");
  background-size: 120px;
}

.home-hero {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: center;
  background-image: url("/src/img/white-grey-scratone.png");
  background-size: 120px;
}

.home-content-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: center;
}

.home-hero-text {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .home-hero-logo {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .home-hero-logo img {
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .home-hero-photo-1 {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .home-hero-photo-1 img {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .home-hero-photo-2 {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .home-hero-photo-2 img {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: none;
  }

}

@media screen and (min-width: 767px) {
  .home-hero-logo {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .home-hero-logo img {
    width: 60%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .home-hero-photo-1 {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .home-hero-photo-1 img {
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .home-hero-photo-2 {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .home-hero-photo-2 img {
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  

}

.home-heading {
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}

.home-text {
  color: black !important;
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}

.home-cta-btn {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-image: url("/src/img/white-grey-scratone.png");
  background-size: 120px;
}

.home-features {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  text-align: justify;
}

.home-heading-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  text-align: justify;
}

.home-text01 {
  text-align: center;
  /*margin-bottom: var(--dl-space-space-fourunits);*/
}

.home-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}

.home-features-card {
  width: 60%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  /*margin-bottom: var(--dl-space-space-fourunits);*/
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}

.home-icon-container {
  display: flex;
  /*padding: var(--dl-space-space-unit);*/
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  /*background-color: var(--dl-color-gray-900);*/
}

.home-icon {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}

.home-text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-heading1 {
  margin-bottom: var(--dl-space-space-tripleunit);
}

.home-text02 {
  color: var(--dl-color-gray-700);
  text-align: left;
}

.home-features-card1 {
  width: 60%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  /*margin-bottom: var(--dl-space-space-fourunits);*/
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}

.home-icon-container1 {
  display: flex;
  /*padding: var(--dl-space-space-unit);*/
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  /*background-color: var(--dl-color-gray-900);*/
}

.home-icon03 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}

.home-text-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-heading2 {
  margin-bottom: var(--dl-space-space-tripleunit);
}

.home-text03 {
  color: var(--dl-color-gray-700);
  text-align: left;
}

.home-features-card2 {
  width: 60%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  /*margin-bottom: var(--dl-space-space-fourunits);*/
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}

.home-icon-container2 {
  display: flex;
  /*padding: var(--dl-space-space-unit);*/
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  /*background-color: var(--dl-color-gray-900);*/
}

.home-icon06 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}

.home-text-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-heading3 {
  margin-bottom: var(--dl-space-space-tripleunit);
}

.home-text04 {
  color: var(--dl-color-gray-700);
  text-align: left;
}

.home-features-card3 {
  width: 60%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}

.home-icon-container3 {
  display: flex;
  /*padding: var(--dl-space-space-unit);*/
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  /*background-color: var(--dl-color-gray-900);*/
}

.home-icon09 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}

.home-text-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-heading4 {
  margin-bottom: var(--dl-space-space-tripleunit);
}

.home-text05 {
  color: var(--dl-color-gray-700);
  text-align: left;
}

.home-features-card4 {
  width: 60%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}

.home-icon-container4 {
  display: flex;
  /*padding: var(--dl-space-space-unit);*/
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  /*background-color: var(--dl-color-gray-900);*/
}

.home-icon12 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}

.home-text-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-heading5 {
  margin-bottom: var(--dl-space-space-tripleunit);
}

.home-text06 {
  color: var(--dl-color-gray-700);
  text-align: left;
}

.home-features-card5 {
  width: 60%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}

.home-icon-container5 {
  display: flex;
  /*padding: var(--dl-space-space-unit);*/
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  /*background-color: var(--dl-color-gray-900);*/
}

.home-icon15 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}

.home-text-container5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-heading6 {
  margin-bottom: var(--dl-space-space-tripleunit);
}

.home-text07 {
  color: var(--dl-color-gray-700);
  text-align: left;
}

.home-services {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}

.home-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}

.home-text08 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}

.home-text09 {
  color: var(--dl-color-gray-700);
  text-align: center;
}

.home-cards-container1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home-service-card {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}

.home-text10 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}

.home-text11 {
  color: var(--dl-color-gray-700);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}

.home-service-card1 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}

.home-text12 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}

.home-text13 {
  color: var(--dl-color-gray-700);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}

.home-service-card2 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}

.home-text14 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}

.home-text15 {
  color: var(--dl-color-gray-700);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}

.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}

@media(max-width: 991px) {
  .home-hero {
    flex-direction: column-reverse;
  }

  .home-content-container {
    flex-direction: column;
  }

  .home-hero-text {
    width: 80%;
  }
}

@media(max-width: 767px) {
  .home-heading-container {
    width: 100%;
  }

  .home-cards-container {
    align-items: center;
    flex-direction: column;
  }

  .home-features-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }

  .home-features-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }

  .home-features-card2 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }

  .home-features-card3 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }

  .home-features-card4 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }

  .home-features-card5 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }

  .home-heading-container1 {
    width: 100%;
  }

  .home-cards-container1 {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .home-service-card {
    width: 65%;
    margin-bottom: var(--dl-space-space-fourunits);
  }

  .home-service-card1 {
    width: 65%;
    margin-bottom: var(--dl-space-space-fourunits);
  }

  .home-service-card2 {
    width: 65%;
  }
}

@media(max-width: 479px) {
  .home-hero {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }

  .home-content-container {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }

  .home-hero-text {
    width: 100%;
  }

  .home-features {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
    text-align: justify;
  }

  .home-features-card {
    width: 100%;
  }

  .home-features-card1 {
    width: 100%;
  }

  .home-features-card2 {
    width: 100%;
  }

  .home-features-card3 {
    width: 100%;
  }

  .home-features-card4 {
    width: 100%;
  }

  .home-features-card5 {
    width: 100%;
  }

  .home-services {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }

  .home-service-card {
    width: 100%;
  }

  .home-service-card1 {
    width: 100%;
  }

  .home-service-card2 {
    width: 100%;
  }
}