@font-face {
    font-family: 'Bickham';
    src: url('src/fonts/Bickham.ttf')
        /* Add additional src declarations for other font formats if needed */
}

@font-face {
    font-family: 'Cormorant Regular';
    src: url('src/fonts/CormorantGaramond-Regular.ttf')
        /* Add additional src declarations for other font formats if needed */
}

@font-face {
    font-family: 'Cormorant Bold';
    src: url('src/fonts/CormorantGaramond-Bold.ttf')
        /* Add additional src declarations for other font formats if needed */
}

@font-face {
    font-family: 'Cormorant Semi-Bold';
    src: url('src/fonts/CormorantGaramond-SemiBold.ttf')
        /* Add additional src declarations for other font formats if needed */
}


body {
    /*background-color: #f8f9fa;*/
    /* Цвет фона страницы */
    padding: 1px;
    background-image: url('src/img/white-grey-scratone.png');
    background-size: 120px;
    /* Отступы вокруг контента */
}

@media screen and (max-width: 767px) {
    .container {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Центрирование по вертикали */
        height: 100vh;
        font-size: 14px;
        /* Сделаем контейнер по высоте во всю видимую область */
    }

    .main-logo img {
        width: 80%;
        /* Ширина логотипа в процентах */
        height: auto;
        /* Автоматическая высота */
        margin-top: 20px;
        margin-left: auto;
        /* Центрирование по левому краю */
        margin-right: auto;
        /* Центрирование по правому краю */
    }

    .main-logo {
        text-align: center;
    }

    .names {
        margin-top: 10px;
        font-family: Bickham;
        font-size: 11vw;
        text-align: center;
        max-width: 100%;
    }

    .invitation {
        text-align: center;
    }

    .invitation h1 {
        text-align: center;
    }

    .day {
        font-family: Cormorant Semi-Bold;
        text-align: center;
        align-items: center;
        font-size: 1rem;
    }

    .date {
        font-size: 1.2em;
        margin-top: 20px;
    }

    .location {
        font-style: italic;
    }

    .photo-card {
        width: 300px; /* Устанавливаем ширину карточки */
        border-radius: 15px; /* Задаем радиус скругления краев */
        border: none;
        background-color: transparent;
        text-align: center;
    }
      .photo-card img {
        width: 100%; /* Растягиваем изображение на всю ширину карточки */
        height: auto; /* Сохраняем соотношение сторон изображения */
      }

    /* CSS правила для мобильных устройств с шириной экрана до 767 пикселей */
}

@media screen and (min-width: 768px) {
    .container {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Центрирование по вертикали */
        height: 100vh;
        font-size: 18px;
        /* Сделаем контейнер по высоте во всю видимую область */
    }

    .main-logo img {
        width: 55%;
        /* Ширина логотипа в процентах */
        height: auto;
        /* Автоматическая высота */
        margin-top: 40px;
        margin-left: auto;
        /* Центрирование по левому краю */
        margin-right: auto;
        /* Центрирование по правому краю */
    }

    .main-logo {
        text-align: center;
        /*
    }
    .invitation {
        text-align: center;
    }
    .invitation h1 {
        color: #dc3545; /* Цвет заголовка */
    }

    .names {
        font-family: Bickham;
        font-size: 6em;
        text-align: center;
        width: 100%;
    }

    .invitation h1 {
        text-align: center;
    }

    .invitation {
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .day {
        font-family: Cormorant Semi-Bold;
        text-align: center;
        align-items: center;
        font-size: 1.8rem;

    }

    .date {
        font-size: 1.2em;
        margin-top: 20px;
    }

    .location {
        font-style: italic;
    }

    .row-image-card {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .card {
        margin-top: 10px;
        width: 100%;
    }
    .photo-card {
        width: 800px; /* Устанавливаем ширину карточки */
        border-radius: 30px; /* Задаем радиус скругления краев */
        border: none;
        background-color: transparent;
      }
      .photo-card img {
        width: 100%; /* Растягиваем изображение на всю ширину карточки */
        height: auto; /* Сохраняем соотношение сторон изображения */
      }
}